.header{
    background: rgb(27, 74, 134);
    color: white;
    display: flex;
    padding:25px 0;
    padding-left: 10%;
    padding-right: 7%;
    justify-content: space-between;
}

.headtitle{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: bold;
    
    //padding-left: 10%;
    
}
.logout{
    border: none;
    background: rgb(27, 74, 134);
    color:white;
    cursor: pointer;
    font-size: 20px;
}
.subhead{
    background-color:fade-out(grey,0.90);
    margin: 0;
    padding-top:10px;
    padding-left: 15%;
    line-height: 1.5;
    padding-right: 20px;
    padding-bottom: 20px;
}
.expensebutton{
    width: 150px;
    height: 35px;
    background: rgb(73, 142, 245);
    color:white;
    border: none;
    cursor: pointer;
    padding: 10;
    font-size: 20px;
    text-decoration: none;
}